body{
    /* background-color: rgb(160, 160, 160); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    background-color: rgb(195, 195, 195);
    width : 90vw;
    /* height: 80vh; */
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 3px 3px 3px; */
}

.innerContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 40px;
}

.inputField{
    width : 70%;
    height : 35px;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 8px;
    border: none;
    font-size: 20px;
    box-shadow: 3px 3px 15px;
}

.lableClass{
    font-size:25px;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    color: rgb(60, 57, 57);
}

.btnClass{
  
    background-color: #4CAF50; /* Green */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  /* padding: 32px; */
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: 28px;
  box-shadow: 3px 3px 15px rgba(84, 76, 76, 0.612);
}
.btnClass:hover{
    background-color: #454a45;
}

.btnClasse{
  
    background-color: #45817f; /* Green */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  /* padding: 32px; */
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: 28px;
  box-shadow: 3px 3px 15px rgba(84, 76, 76, 0.612);
}
.btnClasse:hover{
    background-color: #454a45;
}

.btnDiv{
    margin: auto;
}

.resultDiv{
    height: 250px;
    border: 2px solid black;
    margin: 30px;
}

.downloadBtnDiv{
    margin: auto;
    width : 79px;
}

.cqCode{
    border: 2px solid black;
    margin: auto;
    height : 350px;
    width : 350px;
}

.graphdiv{
    border-radius: 5px;
    border : 2px solid black;
    height: 500px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    box-shadow: 5px 5px 15px rgba(157, 151, 151, 0.46);
}

.heading{
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
}