/* Rectangle 5 */
.container-1{

    margin: auto;
    height: 10%;
    width: 50%;
    background: #D9D9D9;
    border-radius: 20px;
}


/* .combinecontainer{
    margin-top:40px;
    align-items:center;
    text-align:center;
} */

.container-2{

    margin: auto;
    padding: 20px;
    /* height: 50%; */
    width: 50%;

    background: #D9D9D9;
    border-radius: 10px;
}


.from-input{
    height:30px;
    width: 75%;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

.form-input-btn{
    margin: 0 auto;
    
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #4D82A8;
    color: #FFFFFF;

    border-radius: 10px;
    border: 0;
}

@media (max-width: 360px){
    .container-1 {
        padding: 15px;
        margin: auto;
        height: 10%;
        width: 90%;
        background: #D9D9D9;
        border-radius: 10px;
        margin-bottom: 20px;
        align-items: center;
        margin-top:200px;
    }

    .container-2 {

        margin: auto;
        height: 50%;
        width: 90%;
        height: 350px;
        background: #D9D9D9;
        border-radius: 10px;
        text-align: center

        
    }
    .container-2 .form-input-btn{
        margin-top: 10px;
        /* align-items: center; */
        /* margin-left:23% */

    }
}

@media (max-width: 400px){
    .container-1 {
            padding: 15px;
            margin: auto;
            height: 10%;
            width: 90%;
            background: #D9D9D9;
            border-radius: 10px;
            margin-bottom: 20px;
            align-items: center;
            margin-top: 200px;
            text-align: center;
        }
    
        .container-2 {
    
            margin: auto;
            height: 50%;
            width: 90%;
            height: 350px;
            background: #D9D9D9;
            border-radius: 10px;
            
        }

        
}